body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 900px;
    margin: auto;
    background-color: white;
}

.header {
    padding: 20px;
    background-color: #222;
    color: white;
}

.hero {
    height: 300px;
    background-image: url(img/hero2.jpg.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    padding: 20px;
}

.content img {
    width: 100%;
    margin: 20px 0;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
