body{
    font-family: gorgia, serif;
    background-color: #00ffff;
    text-align: justify;
}
h1{
    color: #00008b;
    text-align: left;
    font-size: 60px;
    font-family: Comic sans Ms;
}
h4{
    text-align: right;
    font-style: italic;
}
.p1{
    color: orange;
    text-align: center;
}
.nama {
    color: white;
}
.nama:hover {
    color: red;
}
.mark {
    color: blue;
}
.mark:hover {
    color: white;
    background-color: blue;
}